.container{
    margin-bottom: 200px;
}
.buy-me-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border-top: none;
    background-color: white;
}
#Laptop a{
    text-align: right;
    color: gold;
   text-decoration: none;
}
.head{
    margin-bottom: 70px;
}
.head a{
    float: right;
}
.category{
    text-align: center;
}
.bg{
    background-image: url(images/bg-2.png), url(images/bg-1.png);
    background-position: left bottom,center;
    background-size: 100px,50px;
    background-repeat: no-repeat;
}
.bg p{
    margin-left: auto;
    margin-right: auto;
}
.category hr{
    width: 100px;
    height: 10px;
    border: none;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
   background-color: gold;
   opacity: 100%;
   margin-bottom: 20px;
    
}
.close{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    margin-bottom: 20px;
    margin-left: 30px;

}